@model SmartMass.Controller.Model.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalibrationFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalibrationFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScaleUpdateInterval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScaleUpdateInterval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScaleSamplingSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScaleSamplingSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScaleCalibrationWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScaleCalibrationWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScaleDisplayTimeout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScaleDisplayTimeout)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
